/* body */
body {
    background-color: rgb(214, 208, 181);
}

body, html {
    height: 100%;
    }
 /* Navigation bar */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hamburger {
  text-align: center;
  width:100%;
  height:100%;
  background-image:linear-gradient(rgba(50, 65, 53, 0.5), rgba(46, 41, 41, 0.5)),url("https://images.unsplash.com/photo-1551140676-c5a87bdb7074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size:cover;
  text-align: center;
}
a {
  text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
          }
        a:hover {
          color: rgb(214, 208, 181);
        }
          nav{
              position:absolute;
              top:0;
             left:0;
             right:0;
             z-index: 99;
             padding:16px 32px;
  
  
          }
          .container {
              max-width: 1280px;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: space-between;
          }
          .menu {
              display:flex;
              flex: 1 1 0%;
              justify-content: flex-end;
              margin: 0 -16px;
          }
  .menu a {
      color:white;
      margin: 0 16px;
      padding:8px 16px;

  }
  .menu a:hover {
    color: rgb(214, 208, 181);
  }


h1{
    text-align: center;
    color:white;
    font-size: 100px;
    padding: 150px 15px;
    padding-bottom: 15px;
    text-transform:uppercase;
  }
  h2{
  font-size: 40px;
  color: white;
 
  
}
  h3 {
    text-align: center;
    color:white;
    font-size:20px;
    padding-bottom: 30px;
   }


button {
  padding: 1rem 3rem;
  font-size: 1rem;
 color: rgb(81, 88, 68);
  border:none;
  background: rgb(214, 208, 181);
  cursor: pointer;
  border-radius: 50px;
   width: 200px;
        height: 70px;
        display: inline-block;
        text-align: center;
        transition-duration: 0.4s;
      }

button:hover {
    background: transparent;
     border: 2px solid rgb(214, 208, 181);
     color: white;
  } 

