/* body */
body {
  background-color: white;
}

body,
html {
  height: 100%;
}
p {
  padding: 10px 300px;
  text-align: left;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       }
.w3-p {
  font-size: 20px;
}
.w3-p2{
padding: 8px;
font-size:18px;
}
.w3-h3 {
  font-size: 50px;
  color: rgb(144, 118, 54);
}
.container3 {
  /* justify-content: center;
  color: black;
  padding: 1rem 5rem;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 110vh;
  padding:4rem calc((100vw - 1300px) /2);
  background:rgb(197, 199, 178);
}
.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  padding: 0rem 2rem;
  }
  .column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem;
  align-items: flex-end;
  }
.filler-image {
  width:500px;
  height:700px; 
  align-self: flex-start; 
  border-radius: 12px;
}
  
.w3-text {
  align-content: flex-end;
}

/* Navigation bar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hamburger {
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(34, 58, 29, 0.5), rgba(40, 53, 32, 0.5)), url("https://images.unsplash.com/photo-1602847189686-6bb361a3066d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: rgb(214, 208, 181);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 18px 32px;


}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  color: white;
  margin: 0 16px;
  padding: 8px 16px;

}

.menu a:hover {
  color: rgb(197, 199, 178);
}

.home {
  color: rgb(197, 199, 178);
}


h1 {
  text-align: center;
  color: white;
  padding: 100px 15px;
  padding-bottom: 15px;
  font-weight: 40px;
}

h2 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.w3-logo {
  width: 150px;
  height: 120px;
  padding-top: 20px;
}

.w3-cc,
b {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 65px;
}
 
i, .w3-p6 {
  font-size: 23px;
}
.w3-cc2 {
  font-size: 35px;
}

h3 {
  text-align: center;
  color: white;
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}


button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: 2px solid white;
  color: white;
  background: transparent;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  height: 70px;
  display: inline-block;
  text-align: center;
  transition-duration: 0.4s;
}

button:hover {
  color: rgb(81, 88, 68);
  background: white;
  border: none;
}

/* menu */
.topnav {
  display: none;
}

.menubtn {
  float: right;
  font-size: 30px;
  padding-right: 10px;
  padding-bottom: 15px;
  cursor: pointer;
  color: white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay a {
  font-size: 20px;
}

.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.t {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(81, 88, 68);
  padding: 32px 0;
  padding-bottom: 0;
}

.tp {
  font-size: 15px;
  text-align: center;
  font-style: italic;
}
.author {
  text-align: center;
}

/* Slides */
.mySlides {
  display: none;
  padding: 60px;
  text-align: center;
}


/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-size: 20px;
  padding: 20px
}

.prev {
  font-size: 15px;
  color: grey;
  padding: 10px;
  border: 2px solid grey;
  background: white;
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  transition-duration: 0.4s;
}
.next {
  font-size: 15px;
  color: grey;
  padding: 10px;
  border: 2px solid grey;
  background: white;
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  transition-duration: 0.4s;
  align-self: flex-end;
}
.buttons {
  flex-direction: row;
  text-align: center;
  padding-bottom: 35px;
  padding-right: 40px;
}

@media screen and (max-width: 500px) {

  .hamburger {
    height:100%;
  }
  .w3-cc,
  b,
  h1 {
    font-size: 30px;
    padding-top: 60px;
  }
  button {
  width: 100px;
  height: 45px;
  }
  .container3 {
    grid-template-columns: 1fr;
    height: 200vh;
    padding: 20px;
  }
  .filler-image {
    width: 80%;
    height: 45%;
  }
  q{
    font-size: 18px;
  }
  .w3-cc2 {
    font-size: 20px;
  }

  .w3-logo {
    font-size: 30px;
  }

  .menu {
    display: none;
  }

  .topnav {
    display: block;
  }
}