/* body */
body {
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    }

    .mainsection {
        text-align: center;
    }
.title{
    padding: 60px 20px;
}
    h1{
        text-align: center;
        color:rgb(48, 54, 38);
        font-size: 65px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform:uppercase;
      }
    h2 {
      text-align: center;
        cursor:pointer;
        color:rgb(73, 80, 62);
   
    }
      h3 {
        text-align: center;
        letter-spacing: 2px;
        color:white;
        font-size:20px;
        padding-bottom: 30px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       }
       .w3-logo{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
      }
       * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:Arial, Helvetica, sans-serif;
    }
    a {
text-decoration: none;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
    }
    nav{
        position:absolute;
        top:0;
       left:0;
       right:0;
       z-index: 99;
       padding:16px 32px;


    }
    .container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        display:flex;
        flex: 1 1 0%;
        justify-content: flex-end;
        margin: 0 -16px;
    }
.menu a {
color:rgb(34, 30, 30);
margin: 0 16px;
padding:8px 16px;

}
.home {
    color:rgb(197, 199, 178);
}

.container {
    position: relative;
    text-align: center;
    color: white;
    
  }
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    font-size: 65px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform:uppercase;
  }

  img {
height:500px; 
width:100%;
border-radius: 12px;
opacity: 0.9;
  } 

/* menu */
.topnav {
  display: none;
}
  span {
    float:right;
    font-size:30px;
    padding-right: 10px;
    padding-bottom: 15px;
    cursor:pointer;
    color:rgb(73, 80, 62);
    }
    
    .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    }
    
    .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    }
    
    .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    }
    
    .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    }
    
    .overlay a {
    font-size: 20px;
    }
    
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }



   /* responsiveness */
   @media screen and (max-width: 800px){
   .w3-logo{
    font-size: 30px;
  }
img {
      width:1500px;
      height:500px;
      border-radius: 0;
    }
  .menu {
    display: none;
  }

  .topnav {
    display: block;
  }
}
