/* HERE IS THE WEBPAGE */


/* BODY */
body {
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



/* NAV */
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: center;
  color: white;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 16px 32px;
}

.w3-logo {
  width: 150px;
  height: 120px;
  padding-top: 20px;
}

.menu {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  color: rgb(34, 30, 30);
  margin: 0 16px;
  padding: 8px 16px;

}

.home {
  color: rgb(197, 199, 178);
}

.menu a:hover {
  color: rgb(197, 199, 178);
}

a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}



/* MENU */
.topnav {
  display: none;
}

.menubtn {
  float: right;
  font-size: 30px;
  padding-right: 10px;
  padding-bottom: 15px;
  cursor: pointer;
  color: rgb(73, 80, 62);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay a {
  font-size: 20px;
}

.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}


/* BUTTON */ 
button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: 2px solid white;
  color: white;
  background: transparent;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  height: 70px;
  display: inline-block;
  text-align: center;
  transition-duration: 0.4s;
}

button:hover {
  color: rgb(81, 88, 68);
  background: white;
  border: none;
}




/* HEADER SECTION */
.container2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 65px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
} */

img {
  height: 500px;
  width: 100%;
  border-radius: 12px;
  opacity: 0.9;
}

.w3-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 65px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  color: rgb(48, 54, 38);
  font-size: 65px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}





/* NZ INFO SECTION */
.ccontainer {
  padding: 80px;
  padding-top: 20px;
}

.w3-p {
  font-size: 20px;
}




/* VISA SECTION */
.visa-container {
  padding: 80px;
  padding-top: 30px;
  background-color: rgb(165, 190, 165);
}

h2 {
  text-align: center;
  cursor: pointer;
  color: rgb(73, 80, 62);
  padding: 10px;
  font-size: 40px;
}

.w3-h2 {
  font-size: 40px;
}


.w3-p {
  font-size: 20px;
  padding: 10px;
  text-align: left;
  padding-bottom: 1px;
}

li {
  font-size: 20px;
  padding: 10px;
  text-align: left;
}




/* HOW TO APPLY SECTION */
.apply-container {
  padding: 80px;
  padding-top: 30px;
}



/* LIVING IN NZ SECTION */
.living-container {
  padding: 80px;
  background-color: rgb(168, 191, 209);
}



/* CANT FIND IT? */
h3 {
  text-align: center;
  letter-spacing: 2px;
  color: black;
  font-size: 30px;
  padding-left: 80px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p {
  text-align: left;
}

.w3-h3 {
  font-size: 30px;
}




/* TESTIMONIALS */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.t {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(81, 88, 68);
  padding: 32px 0;
  padding-bottom: 0;
}

.tp {
  font-size: 15px;
  text-align: center;
  font-style: italic;
}

.author {
  text-align: center;
}

.mySlides {
  display: none;
  padding: 60px;
  text-align: center;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

q {
  font-size: 20px;
  padding: 20px
}

.prev {
  font-size: 15px;
  color: grey;
  padding: 10px;
  border: 2px solid grey;
  background: white;
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  transition-duration: 0.4s;
}

.next {
  font-size: 15px;
  color: grey;
  padding: 10px;
  border: 2px solid grey;
  background: white;
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  transition-duration: 0.4s;
  align-self: flex-end;
}

.buttons {
  flex-direction: row;
  text-align: center;
  padding-bottom: 35px;
  padding-right: 40px;
}





/* RESPONSIVENESS */
@media screen and (max-width: 800px) {
  
  .topnav {
    display: block;
  }

  .menu {
    display: none;
  }

  .w3-logo {
    width: 120px;
    height: 100px;
  }

  .container, 
  .container2 {
    width: 100%;
    margin: 0 0;

  }
.ccontainer, .living-container {
  padding-top: 15px;
}

  .ccontainer,
  .visa-container,
  .apply-container,
  .living-container
   {
    /* grid-template-columns: 1fr; */
    height: fit-content;
    padding-left: 45px;
    padding-right: 45px;
  }

  .w3-title,
  h1 {
    font-size: 45px;
    
  }

  h3 {
    padding-left: 20px;

  }

  q,
  i {
    font-size: 20px;
  }

  h2, .w3-h2 {
    text-align: left;
    font-size: 20px;
  }

  p {
    padding: 10px 30px;
    text-align: left;
  }

  
  img {
    width:100%;
    height: 350px;
    border-radius: 0;
    padding-top: 10px;
  }

  .mySlides {
    padding: 30px;
   }

}